body {
        font-family: Roboto, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        height: 100vh;
		overflow: hidden;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('write.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px) grayscale(50%) brightness(80%);
    z-index: -1; /* Ensure the background stays behind the content */
}

    header {
        background-color: #070a52;
        color: #fff;
        padding: 10px 0;
        width: 100%;
        text-align: center;
}

    main {
        padding: 10px;
        text-align: left;
}

    footer {
        margin-top: auto;
        background-color: #070a52;
        color: white;
        padding: 1px 0;
        width: 100%;
        text-align: center;
	}
	table {
        border-collapse: collapse; /* Ensures borders do not double up */
        width: 100%; /* Optional: Makes table full-width */
    }
	.table-container {
		max-height: 600px;
		overflow-y: auto;

    th, td {
        padding: 10px; /* Adjusts cell padding */
        text-align: left; /* Align text to the left */
        border: 1px solid black; /* Adds border to each cell */
		color: white;
    }

    th {
        background-color: #101211; /* Optional: Adds a background color to the header */

	}

    /* Optional: Adds hover effect */
    tr:hover {
        background-color: #101211;
    }
